[submodule "vim/bundle/vim-startify"]
	path = vim/bundle/vim-startify
	url = git@github.com:mhinz/vim-startify.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
