[submodule "vim/bundle/vim-startify"]
	path = vim/bundle/vim-startify
	url = git@github.com:mhinz/vim-startify.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "vim/bundle/Dockerfile.vim"]
	path = vim/bundle/Dockerfile.vim
	url = git@github.com:ekalinin/Dockerfile.vim.git
